{% extends base_template %}
{% load static %}

{% block title %}Profile · AutiBloom{% endblock %}
{% block caregiver_title %}Profile · AutiBloom{% endblock %}
{% block caregiver_topbar_title %}Profile{% endblock %}

{% block extra_css %}{{ block.super }}{% include 'accounts/_profile_settings_css.html' %}{% endblock %}
{% block caregiver_extra_css %}{% include 'accounts/_profile_settings_css.html' %}{% endblock %}

{% block content %}{% include 'accounts/_profile_body.html' %}{% endblock %}
{% block caregiver_content %}{% include 'accounts/_profile_body.html' %}{% endblock %}
